#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  display: grid;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  text-align: left;
  
}

.card img{
  width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 1;
}

.card h2{
  grid-column: 2;
  grid-row: 1;
}


.card .movieScore{
  display: flex;
  align-items: center;
  flex-direction: row;
  grid-column: 2;
  grid-row: 2;
}

.card .movieScore img{
  width: 50px;
  height: auto;
  margin-right: 0.5rem;
}

.card .movieDesc{
  grid-column: 2;
  grid-row: 3;
}
.card .movieImg{
  grid-column: 1;
  grid-row: 1 / 4;
}

.statsDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  width: 100%;

  
}

.form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
  width: 100%;

}

.spgContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  max-width: 1000px;
}

.spgP{
  margin: 1rem;
  border-radius: 4px;
  max-width: 1000px;
}